body {
  font: 15px/1.5 Arial, Halvetical, san-serif;
  background-color: #eee;
}

/*Global*/
#wrapper {
  position: relative;
}

/*header*/
#header {
  top: 0;
  background-color: #354248;
  color: #ffffff;
  padding-top: 0px 20px;
  min-height: 80px;
  border-bottom: #e8491d 3px solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  display: inline-;
  float: left;
  padding: 0 20px 0 20px;
}

nav {
  float: right;
  margin-top: 20px;
}

img {
  height: 100%;
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 50px;

}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
  height: 200px;
}

.top {
  margin-bottom: 20px;
  word-wrap: break-word;
}

input[type="email"] {
  max-width: 250px;
  width: 100%;
  padding: 5px;
}

input[type="submit"] {
  max-width: 150px;
  width: 100%;
  padding: 20px;
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
}

#submit:hover {
  background-color: #e8491d;
  transition: background-color 1s;
}

/*feastures*/
.features {
  margin-top: 40px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 18vw;
  color: #e8491d;
  float: left;
}

.dist{
  display: inline;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

#how-it-work {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

iframe {
  max-width: 560px;
  width: 100%;
}

/*Pricing*/

#pricing {
  margin: 50px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}

#tenor,
#bass,
#valve {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc (100% / 3);
  margin: 10px;
  border: 2px solid #000;
  border-radius: 3px;
}

.level {
  background-color: #ddd;
  color: black;
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 700px;
}

h2 {
  margin-top: 15px;
}

a:hover {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: black;
}

ol,
li {
  margin-top: 15px 0;
  padding: 5px 0;
  list-style: none;
}

.btn {
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

button {
  margin: 15px 0;
  border: 0;
  background-color: #f1c40f;
  font-weight: 400;
}

button:hover {
  background-color: #e8491d;
  transform: backgroud-color 1s;
}

/*footer*/

footer {
  margin-top: 10px;
  background-color: #ddd;
  padding: 20px;
}

footer a {
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  list-style: none;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer li {
  display: inline;
  float: left;
  padding: 0 20px 0 20px;
  margin: 10px;
}

span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

/* Am still working on this 
.social_center {
  padding: 20px 0;
  background-color: #dedede;
}
*/

@media(max-width: 768px){
  body{
    display: none;
  }
}